<!DOCTYPE html>
<html>
    <head>
        <title>Agregar Libro</title>
    </head>
    <body>
        <h1>Agregar nuevo libro</h1>
        <form method="POST">
            {% csrf_token %}
            <h2>Libro</h2>
            {{ book_form.as_p }}
            <h2>Autor</h2>
            {{ author_form.as_p }}
            <h2>Género</h2>
            {{ genre_form.as_p }}
            <a href="{% url 'books_list' %}">Lista de Libros</a>

            <button type="submit">Guardar</button>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        </form>
    </body>
</html>