<!DOCTYPE html>
<html>
    <head>
        <title>Lista de libros</title>
    </head>
    <body>
        <h1>Lista de libros</h1>

        <!-- show messages only if there are some -->
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <ul>
            {% for book in books %}
            <li>
                <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
                <!-- Link to delete book -->
                <a href="{% url 'delete_book' book.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este libro?');">Eliminar</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_book' %}">Agregar libro</a>
        <div id="root"></div>
        <script src="{% static 'frontend/index.js' %}"></script>
    </body>
</html>
